In [1]:
#import all dependancies 
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
import re

In [2]:
#open chrom browser for windows 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [3]:
#nasa news url
url_nasa = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url_nasa)

In [4]:
#create HTMl Object
html = browser.html

#parse HTML with beautiful soup
soup_nasa = bs(html, 'html.parser')

In [5]:
# Extract title text
news_title = soup_nasa.find('li', class_='slide').find('div',class_='content_title').text

# Extract Paragraph text
news_p = soup_nasa.find('div',class_='article_teaser_body').text

#print the scraped data
print(news_title)
print(news_p)

Perseverance Scientists Train for Mars in Nevada Desert
Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.

# JPL Mars Space Images

In [6]:
# JPL Mars space images url
url_jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_jpl)

In [7]:
html = browser.html
soup_jpl = bs(html, 'html.parser')

In [8]:
#extract the latest featured Mars image
main_url_jpl = 'https://www.jpl.nasa.gov'

image_url = soup_jpl.find('li', class_='slide').a['data-fancybox-href']

featured_image_url = main_url_jpl + image_url

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23903_hires.jpg

# Mars Weather

In [9]:
url_mars_twitter = 'https://twitter.com/marswxreport?lang=en'

page = requests.get(url_mars_twitter)
soup_mars_twitter = bs(page.text, "html.parser")

In [10]:
mars_weather = soup_mars_twitter.find_all('div', class_='js-tweet-text-container')

filtered_weather_tweets=[]

for weather in mars_weather:
    if "low" in weather.p.text and "high" in weather.p.text and "winds" in weather.p.text and "pressure" in weather.p.text:
        filtered_weather_tweets.append(weather.p.text)
    
weather_tweet = filtered_weather_tweets[0]

print(weather_tweet)

InSight sol 512 (2020-05-05) low -92.9ºC (-135.2ºF) high -3.1ºC (26.4ºF)
winds from the SW at 4.8 m/s (10.7 mph) gusting to 19.2 m/s (42.9 mph)
pressure at 6.80 hPapic.twitter.com/TJRWhGbUMa

# Mars Facts

In [11]:
url_mars_facts = 'https://space-facts.com/mars/'

In [12]:
tables = pd.read_html(url_mars_facts)
mars_fact_df = tables[0]
mars_fact_df.columns = ['Description', 'Values']
mars_fact_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
html_table = mars_fact_df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [15]:
url_mars_hemisphere = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
url_mars = 'https://astrogeology.usgs.gov'
browser.visit(url_mars_hemisphere)

In [16]:
html = browser.html
soup_mars_hemisphere = bs(html, 'html.parser')

In [17]:
hemisphere_image_urls =[]
url_to_image = soup_mars_hemisphere.find_all('div',class_='item')

for url in url_to_image:
    
    title = url.find('h3').text
    print(title)
        
    url_to_image_page = url_mars + url.a['href']
    #print(url_to_image_page)
    
    browser.visit(url_to_image_page)
    html= browser.html
    soup_mars_image_page = bs(html, 'html.parser')
    
    image_url = soup_mars_image_page.find('div', class_='downloads').a['href']
    
    print(image_url)
    print('--------------------------------------------------------')
    img_data=dict({'title':title, 'img_url':image_url})
    hemisphere_image_urls.append(img_data)

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
--------------------------------------------------------
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
--------------------------------------------------------
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
--------------------------------------------------------
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
--------------------------------------------------------

In [18]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]